<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @post_attachment.email_id %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @post_attachment.attachment %>
</p>

<%= link_to 'Edit', edit_post_attachment_path(@post_attachment) %> |
<%= link_to 'Back', post_attachments_path %>
