<%= form_with(model: @email, url: emails_path, :html => { :multipart => true }, method: :post) do |f| %>
<div class="form-group">
    <%= f.label :recipients %>
    <%= f.text_field :recipients %>
</div>

<div class="form-group">
  
  <%= f.label :subject %>
  <%= f.text_field :subject, class: 'form-control' %>

</div>

<div class="form-group">
  
  <%= f.label :message %>
  <%= f.text_area :message, rows: 10, class: 'form-control' %>

</div>

<%= f.fields_for :post_attachments do |p| %>
     <div class="field">
       <%= p.label :attachment %><br>
       <%= p.file_field :attachment, :multiple => true, name: "post_attachments[attachment][]" %>
     </div>
   <% end %>

<div class="form-group">
  <%= f.submit "Kirim Pesan", value:'sent', class: 'btn btn-primary col-md-5' %>
  <%= f.submit "draft", value:'draft', class: 'btn btn-primary col-md-5' %>
</div>
<% end %>