<br>
<h2>History Draft <%=current_user.name%></h2>
		<table id="example" class="display" style="width:100%">
		  <thead>
		    <tr>
		      <th scope="col">No</th>
		      <th scope="col">Subject</th>
		      <th scope="col">tgl/jam ke draft</th>
		      <th scope="col">Pengirim</th>
		      <th scope="col">Action</th>
		    </tr>
		  </thead>
		  <tbody>
		    <% i = 0 %>
		      <% @draft.each do |s| %>
					    <tr>
						      <th scope="row"><%= i+=1 %></th>
						      <td><%= s.subject %></td>
                  		  	  <td><%= s.updated_at.strftime("%d %B,%Y %H:%M") %></td>
 	                 		  <td><%= current_user.email %> </td>
                  		  	  <td><%= link_to "Edit Draft", edit_email_path(s.id), method: :patch,class: 'btn btn-warning' %> <%= button_to "Trash", email_path(s), method: :delete, class: 'btn btn-danger'  %></td>
					    </tr>
		      <% end %>
		  </tbody>
		</table>