<%= form_for(@email, :html => { :multipart => true }) do |e| %><br>

<%= e.fields_for :email_users do |form| %>
	<%= form.label :recipients %>
	<%= form.email_field :recipients , class: 'form-control col-md-5' %>
<% end %><br>

<div class="form-group">
	
	<%= e.label :subject %>
	<%= e.text_field :subject, class: 'form-control col-md-5' %>

</div><br>

<div class="form-group">
	
	<%= e.label :message %>
	<%= e.text_area :message, rows: 10, class: 'form-control col-md-5' %>

</div><br>

<%= fields_for :post_attachments do |p| %>
     <div class="field">
       <%= p.label :attachment %><br>
       <%= p.file_field :attachment, :multiple => true, name: "post_attachments[attachment][]" %>
     </div>
   <% end %>
<div class="form-group">
	<%= e.submit "Kirim Pesan", class: 'btn btn-primary form-control col-md-2' %>
</div>


<% end %>