<table id="example" class="display" style="width:100%"><br>
<h3>Inbox</h3>
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Pengirim</th>
      <th scope="col">Subject</th>
      <th scope="col">status</th>
      <th scope="col">tgl/jam diterima</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @email.each do |p| %>
      <% if user_signed_in? %>
          <% if current_user.email == p.recipients %>
            <% if p.status == 'sent' %>
                <tr>
                  <th scope="row"><%= i+=1 %></th>
                  <td><%= p.user.name %> || <%= p.user.email %> </td>
                  <td><%= p.subject %></td>
                  <td><%= p.status %></td>
                  <td><%= p.updated_at.strftime("%d %B,%Y %H:%M") %></td>
                  <td><%= button_to "Trash", move_trash_email_path(p), method: :patch, class: 'btn btn-danger'  %> <%= link_to "Lihat Pesan", email_path(p), class: 'btn btn-primary' %></td>
                </tr  >
            <% end %>
          <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>